body{
    padding: 0;
    margin: 0;
}
button{
    background-color: #ffcb05;
    border-radius: 10px;
    width: 100px;
    border-color: #c7a008;
    margin-top: 5px;
}

.top {
    height: 100px;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 2px solid #ffcb05 ;
    
}
.containerBody {
    height: calc(100vh - 100px); /* Altura da tela (100vh) menos altura do cabeçalho (100px) */
    color: #000;
    display: flex;
    }
  
    .sidebar{
    background-color: #ffcb05;
    height: calc(100vh + 228px);
    width: 15%;
    border-radius: 2px;
    }
    
    .content{
        flex: 1;
        text-align: center;
    }
        .img{
            background-color: #ffffff;
        }
            #poke_img{
                width: 20%;
                margin-left: 50%;
                margin-right: 50%;
                transform: translate(-50%);
            }
        .search{
            margin-top: 1%;
            height: 100px;
            background-color: #ffffff;
            border-bottom: #ffcb05 2px solid;
        }
            #poke_name{
                margin-top: 15px;
                margin-left: 50%;
                margin-right: 50%;
                transform: translate(-50%);
                background-color: #ffcb05;
                border-radius: 10px;
                border-color: #c7a008;
                width: 300px;
                height: 30px;
                text-align: center;
                color: #3c5aa6;
            }
        .containnerCardBody{
            width: calc(100vw - 90px);
            height: 100vh;
        }
            #cards{
                display: flex;
                justify-content: center;
                
                
            }
                .card{
                    margin-top: 10px;
                    width: 200px;
                    height: 200px;
                    border-radius: 20px;
                    border-bottom: #c7a008 5px solid;
                    border-top: #c7a008 1px solid;
                    border-left: #c7a008 2 px solid;
                    border-right: #c7a008 5px solid;
                    margin: 5px;
                    overflow: hidden;
                    
                }
                .poke_img{
                    width: 85%;

                    
                }
                #container_infs{
                    margin-top: 30px;
                    width: calc(100vw - 90px);
                    height: calc(100vh - 195px);
                    padding: 0px;
                    
                }
                    #name_poke_inf{
                        margin-top: 15px;
                        font-size: xx-large;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #3c5aa6;
                    }
                    .data_container_left{
                        margin-left: 50px;
                        width: 250px;
                        height: 20px;
                        border: solid #c7a008 1px;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #3c5aa6;
                        font-size:larger;
                        background-image: linear-gradient(45deg, #54efff, #fbdf71);
                    }
                    .data_container_rigth{
                        width: 250px;
                        height: 20px;
                        border: solid #c7a008 1px;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        background-image: linear-gradient(45deg, #fbdf71 , #54efff);
                        text-align: calc(50vh);
                        font-family: Arial, Helvetica, sans-serif;
                        color: #3c5aa6;
                        font-size:larger

                    }
                    .show_content{
                        display: flex;

                    }
        
        
ol{
    width: 100%;
    text-align: center;
    list-style-type: none;
}
li{
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-63%);
    color: rgb(0, 0, 0); 
    cursor:pointer;
    margin-right: 35%;
    text-align:center;
    background-color: #ffcb05;
    border-bottom: #c7a008 1px solid;
    border-top: #c7a008 1px solid;
    border-left: #c7a008 1px solid;
    border-right: #c7a008 1px solid;
    border-radius: 2px;
    width: 300px;
}
